@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
/* #d43c3c */
:root {
    font-family: "SF Pro Display", sans-serif;
    font-weight: lighter;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities; 